#tasks-list {
    text-decoration: none;
}

.task {
    text-decoration: none;
    list-style-type: none;
    background-color: aqua;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.task > * {
    margin: 10px;
}


.todoInput {
    border-radius: 8px;
}

p {
    margin: 0!important;
    min-width: 100px;
}

.hideItem {
    display: none;
}

.done{
    text-decoration: line-through;
}